// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;

    input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.dashboard-card {
    .username {
        display: block;
    }

    .downloads {
        display: block;
        font-size: 3rem;
    }
}

h1 {
    small {
        font-size: 1rem;
    }
}
